<?xml version="1.0" encoding="UTF-8"?>

<!-- Bundle.wxs for FlushMouse Copyright (C) 2023 JeffyTS -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include ..\SetupProject\version.wxi ?>
	<?define LogoSrc = "..\OSDN Wiki\FlushMouse.png" ?>
	<?define LicenseSrc = "..\SetupProject\License.rtf" ?>
	<?define IconSrcFile = "..\FlushMouseLIB\FlushMouse.ico" ?>

	<?define LocalizationSrc = "customtheme.wxl" ?>
	<?define CustomThemeSrc = "customtheme.xml" ?>
	
	<Bundle Name="$(var.ProductName)"
			Version="$(var.Version)"
			Manufacturer="$(var.Manufacturer)"
			Copyright="Copyright (c) $(var.Manufacturer)"
			IconSourceFile="$(var.IconSrcFile)"
			AboutUrl="$(var.AboutUrlSrc)"
			UpgradeCode="{2590C08A-B975-41F3-ACA2-1DA69A22DA1D}"
			DisableModify="yes"
			DisableRemove="yes">
		
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile="$(var.LicenseSrc)"
				ShowVersion="yes"
				LogoFile="$(var.LogoSrc)"
				LogoSideFile="$(var.LogoSrc)"
				SuppressOptionsUI="yes"
				SuppressRepair="yes"
				ThemeFile="$(var.CustomThemeSrc)"
				LocalizationFile="$(var.LocalizationSrc)"
				/>
		</BootstrapperApplicationRef>
		
		<OptionalUpdateRegistration Name="$(var.ProductName)"/>
		<Variable Name="SearchProductVersion" bal:Overridable="yes" Type="string" Value="" />
		<Variable Name="SearchBundleVersion" bal:Overridable="yes" Type="string" Value=""/>
		<Variable Name="SearchBundleID" bal:Overridable="yes" Type="string" Value=""/>
		<Variable Name="SearchPackageName" bal:Overridable="yes" Type="string" Value=""/>
		<util:RegistrySearch
			Id="SearchForProductVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="ProductVersion"
			Variable="SearchProductVersion" />
		<util:RegistrySearch
			Id="SearchForBundleVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleVersion"
			Variable="SearchBundleVersion" />
		<util:RegistrySearch
			Id="SearchForBundleID"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleID"
			Variable="SearchBundleID" />
		<util:RegistrySearch
			Id="SearchForPackageName"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="PackageName"
			Variable="SearchPackageName" />

		<bal:Condition Message ="別のバージョンの $(var.ProductName) が既にインストールされているため、このバージョンのインストールを続行できません。既にインストールされているバージョンを削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[NOT ((NOT SearchBundleVersion) AND SearchProductVersion)]]>
		</bal:Condition>
		<bal:Condition Message ="新しいバージョンの $(var.ProductName) が既にインストールされているため、このバージョンのインストールを続行できません。既にインストールされているバージョンを削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[NOT (SearchBundleVersion AND SearchProductVersion AND (SearchProductVersion > WixBundleFileVersion))]]>
		</bal:Condition>
		<bal:Condition Message ="[SearchPackageName] が既にインストールされているため、$(var.ProductName) のインストールを続行できません。既にインストールされている [SearchPackageName] を削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[((NOT SearchPackageName) AND (NOT SearchBundleVersion)) OR (NOT (SearchPackageName <> "$(var.ProductName)"))]]>
		</bal:Condition>
		
		<util:RegistrySearch
			Id="SearchForSharedhostVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
			Value="Version"
			Variable="SharedhostVersion" />

		<Variable Name="AddDesktopShortcut" bal:Overridable="yes" Value="1" />
		<Variable Name="AddDesktopShortcutVariable" bal:Overridable="yes" Value="[AddDesktopShortcut]" />
		<Variable Name="RegisterStartMenu" bal:Overridable="yes" Value="1" />
		<Variable Name="RegisterStartMenuVariable" bal:Overridable="yes" Value="[RegisterStartMenu]" />
		<Variable Name="StartApplication" bal:Overridable="yes" Value="1" />
		<Variable Name="StartApplicationVariable" bal:Overridable="yes" Value="[StartApplication]" />
		<Variable Name="RemoveAppRegstry" bal:Overridable="yes" Value="0" />
		<Variable Name="RemoveAppRegstryVariable" bal:Overridable="yes" Value="[RemoveAppRegstry]" />
		
		<Chain>
			<ExePackage Id="windowsdesktop_runtime"
				Name="windowsdesktop-runtime-8.0.1-win-x64.exe"
				DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/f18288f6-1732-415b-b577-7fb46510479a/a98239f751a7aed31bc4aa12f348a9bf/windowsdesktop-runtime-8.0.1-win-x64.exe"
				Permanent="no"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Vital="yes"
				InstallCommand="/install /norestart /quiet"
				DetectCondition="(WixBundleInstalled = 0) AND (NOT SharedhostVersion)"
				InstallCondition="(WixBundleInstalled = 0) AND (VersionNT64 &lt; v10.0) AND (SharedhostVersion >= v8.0)">
				<RemotePayload
					CertificatePublicKey="56AAC9F6573605D3646595D16BFF5061A76B0BDB"
					CertificateThumbprint="50A04FFE627F8E21FD61AF1B73E5D03B4ADB100D"
					Description="Microsoft Windows Desktop Runtime - 8.0.1 (x64)"
					Hash="9989A83B65CDC89486A51A53256EB690565326EB"
					ProductName="Microsoft Windows Desktop Runtime - 8.0.1 (x64)"
					Size="58146456"
					Version="8.0.1.33130" />
			</ExePackage>

			<RollbackBoundary />
			
			<MsiPackage Id="MainPackage"
						SourceFile="..\SetupProject\bin\x64\Release\ja-JP\$(var.ProductName)_x64.msi"
						Description="$(var.ProductName) by $(var.Manufacturer)"
						DisplayName="$(var.ProductName) $(var.Version)"
						Permanent="no"
						Cache="yes"
						EnableFeatureSelection="no"
						DisplayInternalUI="no"
						Visible="yes"
						Compressed="yes"
						Vital="no">
				<MsiProperty Name='BUNDLE' Value='1'/>
				<MsiProperty Name='BUNDLE_ID' Value='[WixBundleProviderKey]'/>
				<MsiProperty Name='BUNDLE_VERSION' Value='[WixBundleVersion]'/>
				<MsiProperty Name="ADDDESKTOPSHORTCUT" Value="[AddDesktopShortcutVariable]" />
				<MsiProperty Name="REGISTERSTARTMENU" Value="[RegisterStartMenuVariable]" />
				<MsiProperty Name="STARTAPPLICATION" Value="[StartApplicationVariable]" />
				<MsiProperty Name="REMOVEAPPREGISTRY" Value="[RemoveAppRegstryVariable]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>

