<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ..\version.wxi ?>
	<?define ProductName = "FlushMouse" ?>
	<?define Manufacturer = "JeffyTS" ?>
	<?define MainExeFileName = "FlushMouse.exe" ?>
	<?define Keywords = "FlushMouse Installer" ?>
	<?define Description = "FlushMouse Installer" ?>
	<?define Comments = "Mouse UTY" ?>
	<?define IcoSrcFile = "..\FlushMouse\FlushMouse.ico" ?>
	<?define AppRegKey = "SOFTWARE\$(var.Manufacturer)\$(var.ProductName)" ?>

	<!-- Target Source file Dir -->
	<?define TargetDir01=$(var.FlushMouse.TargetDir)?>
	<?define TargetDir02=$(var.FlushMouse32.TargetDir)?>
	<?define TargetDir03=$(var.FlushMouseCursor.TargetDir)?>
	<?define TargetDir04=$(var.ProjectDir)?>

	<Product Id="{A117193D-ABED-461A-93B8-4D7E1E856740}"
			 UpgradeCode="{CAD3E2E9-B511-4EA2-8794-9BFB299D05F6}"
			 Name="$(var.ProductName)"
			 Manufacturer="$(var.Manufacturer)"
			 Version="$(var.Version)"
			 Language="1041" Codepage="932">
		<Package Id='*'
				 InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 SummaryCodepage="932"
				 Platform="x64"
				 Keywords="$(var.Keywords)"
				 Description="$(var.Description)"
				 Comments="$(var.Comments)"
				 Manufacturer="$(var.Manufacturer)" />
		<!-- @@@ for Major Upgrade -->
		<Upgrade Id="{8B8C6810-E467-498D-926C-F4139B2AE8AB}">
			<UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
					Minimum='$(var.Version)' IncludeMinimum='no' />
			<UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
					Minimum='0.3.0' IncludeMinimum='yes'
					Maximum='$(var.Version)' IncludeMaximum='no' />
		</Upgrade>
		<!-- Media Template-->
		<MediaTemplate EmbedCab="yes" />

		<PropertyRef Id="WIX_DIR_COMMON_DOCUMENTS" />
		<Icon Id="MainIcon" SourceFile="$(var.IcoSrcFile)" />
		<Property Id="ARPPRODUCTICON" Value="MainIcon" />
		<UIRef Id="_WixUI_FeatureTree" />
		<!--UIRef Id="WixUI_Minimal" /-->
		<!--UIRef Id="WixUI_FeatureTree" /-->
		<!--UIRef Id="WixUI_Mondo" /-->
		<!--UIRef Id="WixUI_Advanced" /-->
		<UIRef Id="WixUI_ErrorProgressText" />
		<!--Property Id="ARPNOREMOVE" Value="1"/-->
		<Property Id="ARPNOMODIFY" Value="1"/>
		<Property Id="ARPNOREPAIR" Value="1"/>
		<!-- Install Directory -->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Property Id="WIXUI_DATAINSTALLDIR" Value="DATAINSTALLFOLDER" />
		<!-- Feature -->
		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		<!-- Bitmap -->
		<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
		<!-- 493x58 -->
		<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
		<!-- 493x312 -->
		<!-- License.rtf -->
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<!-- Condition -->
		<Condition Message="Windows 10 Anniversary update 以降が必要です"> WindowsBuild &lt; 14390 </Condition>
		<Condition Message="64bitのWindows 10 Anniversary update 以降が必要です"> NOT (%PROCESSOR_ARCHITECTURE="x86") </Condition>
		<!-- Verify Dialog for Short cut & Start menu -->
		<Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOXTEXT1" Value=" デスクトップにショートカットを作成する" />
		<Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOX1" Value="1" />
		<Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOXTEXT2" Value=" スタートメニューに登録する" />
		<!-- Comment out for default Check box off Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOX2" Value="2" /-->
		<!--Property Id="WIXUI_VERIFYDIALOGOPTIONALCOMMENT1" Value=" セットアップが完了したら再起動してください" /-->
		<!-- Verify Dialog for Uninstall Registry -->
		<Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOXTEXT3" Value=" $(var.ProductName) の設定情報を削除する" />
		<!-- Comment out for default Check box off Property Id="WIXUI_VERIFYDIALOGOPTIONALCHECKBOX3" Value="1" /-->
		<!-- Exit Dialog for application Launch -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value=" セットアップを終了したら、すぐに $(var.ProductName) を実行する　　(ただし、全機能を使用するためにはWindowsの再起動が必要です)" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

		<UI>
			<!-- WixUtilExtension が必要 -->
			<!-- Majour Upgrade Dialog-->
			<Dialog Id="NewerFoundDlg" Width="270" Height="105" 	Title="[ProductName] セットアップ" NoMinimize="yes">
				<Control Id="MessageText" Type="Text"
						 X="48" Y="15" Width="205" Height="60" TabSkip="no"
						 Text="[ProductName] の新しいバージョンがすでにインストールされています。" />
				<Control Id="Y" Type="PushButton"
						 X="200" Y="80" Width="56" Height="17" TabSkip="yes"
						 Text="!(loc.WixUIOK)">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
				<Control Id="NewerFoundDlgIcon"
						 Type="Icon" X="15" Y="15" Width="24" Height="24"
						 ToolTip="!(loc.ErrorDlgErrorIconTooltip)" FixedSize="yes" IconSize="32"
						 Text="!(loc.ErrorDlgErrorIcon)" />
			</Dialog>
			<!-- _VerifyReady Dialog for remove registry, but publish on _ExitDlg-->
			<Publish Dialog="_ExitDialog" Control="Finish" Event="DoAction" Value="RemoveReg">WIXUI_VERIFYDIALOGOPTIONALCHECKBOX3 = 1 and Installed</Publish>
			<!-- _Exit Dialog for Launch application -->
			<Publish Dialog="_ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<!-- Newer Version Found -->
		<InstallUISequence>
			<Show Dialog='NewerFoundDlg' After='FindRelatedProducts'>NEWERFOUND</Show>
			<Custom Action='WixExitEarlyWithSuccess' After='NewerFoundDlg'>NEWERFOUND</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='WixExitEarlyWithSuccess' After='FindRelatedProducts'>NEWERFOUND</Custom>
			<RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>
		<!--CustomAction Id='AlreadyUpdated' Error='[ProductName] は既に、このバージョンに更新されています。' /-->
		<!--CustomAction Id='NoDowngrade'    Error='[ProductName] の新しいバージョンが既にインストールされています。' /-->
		<InstallExecuteSequence>
			<Custom Action="TaskKill" Before="FindRelatedProducts">Installed</Custom>
			<Custom Action='UnregisterTaskScheduler' After='InstallInitialize'>Installed</Custom>
			<Custom Action='UnregisterEventlog' After='InstallInitialize'>Installed</Custom>
			<Custom Action='TaskKill_force' After='InstallInitialize'>Installed</Custom>
			<Custom Action='RegisterTaskScheduler' Before='InstallFinalize'>NOT Installed</Custom>
			<Custom Action='RegisterEventlog' Before='InstallFinalize'>NOT Installed</Custom>
			<Custom Action='RemoveReg' After='RemoveExistingProducts'>WIXUI_VERIFYDIALOGOPTIONALCHECKBOX3 = 1 and Installed</Custom>
		</InstallExecuteSequence>

		<!-- Kill Own Application -->
		<Binary Id="TASKKILL" SourceFile="C:\Windows\System32\taskkill.exe"> </Binary>
		<CustomAction Id="TaskKill" BinaryKey="TASKKILL" Execute="immediate" Return="ignore" Impersonate="yes"
								ExeCommand=" /IM &quot;$(var.MainExeFileName)&quot;" />
		<CustomAction Id="TaskKill_force" BinaryKey="TASKKILL" Execute="deferred" Return="asyncWait" Impersonate="no"
												ExeCommand=" /F /IM &quot;$(var.MainExeFileName)&quot; /IM &quot;$(var.ProductName)32.exe&quot;" />
		<!-- Application Launch on Exit Dialog -->
		<CustomAction Id="LaunchApplication" Directory="INSTALLFOLDER"
								ExeCommand="[INSTALLFOLDER]$(var.MainExeFileName)" Return="asyncNoWait" />
		<!-- Register TaskScheduler -->
		<Binary Id="REGISTERTaskScheduler" SourceFile="C:\Windows\System32\schtasks.exe"> </Binary>
		<CustomAction Id="RegisterTaskScheduler" BinaryKey="REGISTERTaskScheduler" Execute="deferred" Return="asyncWait" Impersonate="no"
								ExeCommand=" /Create /F /TN &quot;$(var.ProductName)&quot; /XML &quot;[INSTALLFOLDER]Register_TaskScheduler.xml&quot;" />
		<!-- Unregister TaskScheduler -->
		<Binary Id="UNREGISTERTaskScheduler" SourceFile="C:\Windows\System32\schtasks.exe"> </Binary>
		<CustomAction Id="UnregisterTaskScheduler" BinaryKey="UNREGISTERTaskScheduler" Execute="deferred" Return="asyncWait" Impersonate="no"
								ExeCommand=" /Delete /F /TN &quot;$(var.ProductName)&quot;" />
		<!-- Register EventLog -->
		<Binary Id="REGISTEREventlog" SourceFile="C:\Windows\System32\reg.exe"> </Binary>
		<CustomAction Id="RegisterEventlog" BinaryKey="REGISTEREventlog" Execute="deferred" Return="asyncWait" Impersonate="no"
								ExeCommand=" IMPORT &quot;[INSTALLFOLDER]Register_Eventlog.reg&quot; /reg:64" />
		<!-- Unegister EventLog -->
		<Binary Id="UNREGISTEREventlog" SourceFile="C:\Windows\System32\reg.exe"> </Binary>
		<!--CustomAction Id="UnregisterEventlog" BinaryKey="UNREGISTEREventlog" Execute="deferred" Return="asyncWait" Impersonate="no"
								ExeCommand=" DELETE HKLM\System\CurrentControlSet\Services\Eventlog\Application\&quot;$(var.ProductName)&quot; /f /va" /-->
		<CustomAction Id="UnregisterEventlog" BinaryKey="UNREGISTEREventlog" Execute="deferred" Return="asyncWait" Impersonate="no"
								ExeCommand=" DELETE HKLM\System\CurrentControlSet\Services\Eventlog\Application\FlushMouse /f" />
		<!-- Remove Registry in Uninstall -->
		<Binary Id="REMOVEREG" SourceFile="C:\Windows\System32\reg.exe"> </Binary>
		<CustomAction Id="RemoveReg" BinaryKey="REMOVEREG" Execute="immediate" Return="asyncNoWait" Impersonate="yes"
																ExeCommand=" delete HKCU\$(var.AppRegKey) /F" />
	</Product>

	<Fragment>
		<!-- Directory Structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- INSTALLFOLDER -->
			<Directory Id="ProgramFiles64Folder" Name="ProgramFiles">
				<Directory Id="ProgramFilesManufacturer" Name="$(var.Manufacturer)">
					<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
					</Directory>
				</Directory>
			</Directory>
			<!-- DATA INSTALLFOLDER -->
			<Directory Id="CommonAppDataFolder" Name="AppDataFiles">
				<Directory Id="AppDataFilesManufacturer" Name="$(var.Manufacturer)">
					<Directory Id="DATAINSTALLFOLDER" Name="$(var.ProductName)">
					</Directory>
				</Directory>
			</Directory>
			<!-- Start Menu -->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="AppStartMenuDir" Name="$(var.Manufacturer) $(var.ProductName)">
				</Directory>
			</Directory>
			<!-- Desktop -->
			<Directory Id="DesktopFolder" Name="Desktop">
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<!-- Feature -->
		<Feature Id="EssentialFeature" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<!--ComponentRef Id="AutoStartRegistry" /-->
			<ComponentRef Id="Registries" />
			<ComponentRef Id="Shortcuts" />
			<ComponentRef Id="DesktopShortcut" />
			<ComponentGroupRef Id="ProductDataComponents" />
			<ComponentRef Id="AppDatacomponents" />
			<ComponentRef Id="AppDataRegistries" />
		</Feature>
		<!-- Files -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="FlushMouse.exe" Guid="{25BEEEA7-583D-4C15-9566-FFA42716A1C9}">
				<File Id="FlushMouse.exe" Name="FlushMouse.exe" Source="$(var.TargetDir01)FlushMouse.exe" />
			</Component>
			<Component Id="FlushMouseDLL.dll" Guid="{3C81EF6B-D231-4739-8361-496FE5BE93D3}">
				<File Id="FlushMouseDLL.dll" Name="FlushMouseDLL.dll" Source="$(var.TargetDir01)FlushMouseDLL.dll" />
			</Component>
			<Component Id="FlushMouse32.exe" Guid="{CB3543F9-1CA7-4773-9105-CB1BD98F49FD}">
				<File Id="FlushMouse32.exe" Name="FlushMouse32.exe" Source="$(var.TargetDir02)FlushMouse32.exe" />
			</Component>
			<Component Id="FlushMouseDLL32.dll" Guid="{CCBA3647-0988-463A-89E4-0BFD5EA13DA0}">
				<File Id="FlushMouseDLL32.dll" Name="FlushMouseDLL32.dll" Source="$(var.TargetDir02)FlushMouseDLL32.dll" />
			</Component>
			<Component Id="Register_TaskScheduler.xml" Guid="{3FA0C6AB-6E9C-4B55-BE44-A02A3B6A0C3E}">
				<File Id="Register_TaskScheduler.xml" Name="Register_TaskScheduler.xml" Source="$(var.TargetDir04)Register_TaskScheduler.xml" />
			</Component>
			<Component Id="License.rtf" Guid="{E6E55A92-6BE8-4612-8172-0BC04811D6E1}">
				<File Id="License.rtf" Name="License.rtf" Source="$(var.TargetDir04)License.rtf" />
			</Component>
			<Component Id="Readme.txt" Guid="{061E1F61-3726-49AC-A504-2A4D115635F3}">
				<File Id="Readme.txt" Name="Readme.txt" Source="$(var.TargetDir04)Readme.txt" />
			</Component>
			<Component Id="Register_Eventlog.reg" Guid="{FBC3FF68-EF97-43F1-BE86-5F5CFC3AE4F1}">
				<File Id="Register_Eventlog.reg" Name="Register_Eventlog.reg" Source="$(var.TargetDir04)Register_Eventlog.reg" />
			</Component>
			<!--Component Id="Register_FlushMouse.bat" Guid="{58D84ACB-D9C0-4E40-A485-3300E83F2660}">
				<File Id="Register_FlushMouse.bat" Name="Register_FlushMouse.bat" Source="$(var.TargetDir04)Register_FlushMouse.bat" />
			</Component>
			<Component Id="Unregister_FlushMouse.bat" Guid="{C7B41729-230F-46C8-8E6F-724B98CD5B69}">
				<File Id="Unregister_FlushMouse.bat" Name="Unregister_FlushMouse.bat" Source="$(var.TargetDir04)Unregister_FlushMouse.bat" />
			</Component-->
			<!-- Registries -->
			<!-- Auto start by user registry -->
			<!--Component Id="AutoStartRegistry" Guid="{AE2203C7-DFFF-40AA-873F-39C206583E9C}"-->
				<!--RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no"-->
					<!--RegistryValue Type="string" Name="$(var.ProductName)" Value="[INSTALLFOLDER]$(var.MainExeFileName)" KeyPath="yes" /-->
				<!--/RegistryKey-->
			<!--/Component-->
			<!-- App registries -->
			<Component Id="Registries" Guid="{05B14589-18DE-4AE3-B6D8-EB65FA40B46D}">
				<RegistryKey Root="HKLM" Key="$(var.AppRegKey)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
					<RegistryValue Type="string" Name="InstalledPath" Value="[INSTALLFOLDER]" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
		<!-- Data Files -->
		<ComponentGroup Id="ProductDataComponents" Directory="DATAINSTALLFOLDER">
			<Component Id="AppDatacomponents" Guid="{3A125A04-4180-457A-8F41-B6DC29E61431}">
				<File Id="FlushMouseCursor.dat" Name="FlushMouseCursor.dat" Source="$(var.TargetDir03)FlushMouseCursor.dat" />
				<RemoveFolder Id="AppDatacomponents" On="uninstall" />
			</Component>
			<!-- Registries -->
			<Component Id="AppDataRegistries" Guid="{C45FD223-B4C1-4A6F-A240-01D5F87FED49}">
				<RegistryKey Root="HKLM" Key="$(var.AppRegKey)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
					<RegistryValue Type="string" Name="DataInstalledPath" Value="[DATAINSTALLFOLDER]" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
		<!-- Shortcuts -->
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="{2E074233-454E-41B4-918F-8C6A1FBAD304}">
				<Condition>WIXUI_VERIFYDIALOGOPTIONALCHECKBOX1 = 1</Condition>
				<RegistryValue Root="HKCU" Key="$(var.AppRegKey)" Name="InstalledDesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
				<Shortcut Id="desktopShortcut" Name="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.MainExeFileName)" WorkingDirectory="INSTALLFOLDER" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="AppStartMenuDir">
			<Component Id="Shortcuts" Guid="{53762501-B26D-44E7-A14D-C74508107C19}">
				<Condition>WIXUI_VERIFYDIALOGOPTIONALCHECKBOX2 = 1</Condition>
				<RegistryValue Root="HKCU" Key="$(var.AppRegKey)" Name="InstalledStartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
				<RemoveFolder Id="AppStartMenuDir" On="uninstall" />
				<Shortcut Id="startMenuShortcut" Name="$(var.ProductName)" Target="[INSTALLFOLDER]$(var.MainExeFileName)" WorkingDirectory="INSTALLFOLDER" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
