<?xml version="1.0" encoding="utf-8"?>

<!-- Bundle.wxs for FlushMouseUI3
//		Copyright (C) 1993- JeffyTS. All rights reserved.
//		Licensed under the GPL-2.0 License.
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
		xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
		xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

	<?include ..\..\SetupProject\version.wxi ?>

	<?define LogoSrc = "..\..\OSDN Wiki\FlushMouse.png" ?>
	<?define LicenseSrc = "..\..\SetupProject\License.rtf" ?>
	<?define IconSrcFile = "..\..\FlushMouseLIB\FlushMouse.ico" ?>

	<?define CustomThemeSrc = "_RtfLargeTheme.xml" ?>
	<?define LocalizationSrc = "_RtfLargeTheme_ja-jp.wxl" ?>

	<Bundle Id="$(var.ProductName)"
			Name="$(var.ProductName)UI3"
			Manufacturer="$(var.Manufacturer)"
			Version="$(var.Version)"
			Copyright="Copyright (c) $(var.Manufacturer)"
			IconSourceFile="$(var.IconSrcFile)"
			HelpUrl="$(var.AboutUrlSrc)"
			AboutUrl="$(var.AboutUrlSrc)"
			UpgradeCode="{2590C08A-B975-41F3-ACA2-1DA69A22DA1D}"
			DisableModify="yes"
			DisableRemove="yes" >

		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
				ShowVersion="yes"
				LogoFile="$(var.LogoSrc)"
				SuppressOptionsUI="yes"
				SuppressRepair="yes"
				ThemeFile="$(var.CustomThemeSrc)"
				LocalizationFile="$(var.LocalizationSrc)"
				LicenseFile="$(var.LicenseSrc)"
				Theme="rtfLicense" />

			<Payload Name="icon.ico" SourceFile="$(var.IconSrcFile)" Compressed="yes" />
		</BootstrapperApplication>

		<Log Prefix ="$(var.ProductName)_$(var.Version)" Extension="log" />
		<OptionalUpdateRegistration Name="$(var.ProductName)"/>

		<Variable Name="SearchProductVersion" Type="string" Value="" />
		<Variable Name="SearchBundleVersion" Type="string" Value="" />
		<Variable Name="SearchBundleID" Type="string" Value="" />
		<Variable Name="SearchPackageName" Type="string" Value="" />
		<Variable Name="DotNetVersion" Type="string" Value="" />
		<Variable Name="DotNetFileVersion" Type="version" Value="v0.0.0.0" />

		<util:RegistrySearch
			Id="SearchForProductVersion"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="ProductVersion"
			Variable="SearchProductVersion" />
		<util:RegistrySearch
			Id="SearchForBundleVersion"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleVersion"
			Variable="SearchBundleVersion" />
		<util:RegistrySearch
			Id="SearchForBundleID"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleID"
			Variable="SearchBundleID" />
		<util:RegistrySearch
			Id="SearchForPackageName"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="PackageName"
			Variable="SearchPackageName" />

		<bal:Condition
			Condition="NOT (SearchBundleVersion AND SearchProductVersion AND (SearchProductVersion > v$(var.Version)))"
			Message="!(loc.FailureNewerFound)" />
		<bal:Condition
			Condition="NOT ((NOT SearchBundleVersion) AND SearchProductVersion)"
			Message="!(loc.FailureSelfFound)" />
		<bal:Condition
			Condition="NOT (SearchBundleVersion AND SearchProductVersion AND (v3.9.0.0 > SearchProductVersion))"
			Message="!(loc.FailurePreviousInstallerFound)" />

		<util:RegistrySearch
			Id="SearchForDotNetVersion"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
			Value="Version"
			Variable="DotNetVersion" />

		<util:RegistrySearch
			Id="SearchForDotNetProductID"
			ExpandEnvironmentVariables="yes"
			Root="HKLM"
			Key="SOFTWARE\Classes\Installer\Dependencies\{90d77843-5fbd-64ef-6bdf-df7574d01646}"
			Value="Version"
			Variable="DotNetProductID" />

		<util:FileSearch
			Id="SearchForDotNetFileVersion"
			Path="[ProgramFiles64Folder]dotnet\dotnet.exe"
			Result="version"
			Variable="DotNetFileVersion" />

		<Variable Name="AddDesktopShortcut" bal:Overridable="yes" Value="1" />
		<Variable Name="AddDesktopShortcutVariable" bal:Overridable="yes" Value="[AddDesktopShortcut]" />
		<Variable Name="RegisterStartMenu" bal:Overridable="yes" Value="1" />
		<Variable Name="RegisterStartMenuVariable" bal:Overridable="yes" Value="[RegisterStartMenu]" />
		<Variable Name="StartApplication" bal:Overridable="yes" Value="1" />
		<Variable Name="StartApplicationVariable" bal:Overridable="yes" Value="[StartApplication]" />
		<Variable Name="RemoveAppRegstry" bal:Overridable="yes" Value="0" />
		<Variable Name="RemoveAppRegstryVariable" bal:Overridable="yes" Value="[RemoveAppRegstry]" />

		<Chain DisableSystemRestore="no" DisableRollback="no" ParallelCache="no">
			<!-- Windows Desktop Runtime 10.0.0 (x64) -->
			<ExePackage Id="WindowsDesktop_Runtime"
				CacheId="{A6372A29-8B26-4037-9CF9-B8C7B4D64068}"
				Permanent="yes"
				Cache="remove"
				PerMachine="yes"
				Vital="yes"
				DetectCondition="DotNetVersion AND (DotNetVersion &gt;= v10.0) AND (DotNetProductID &gt;= v10.0) OR DotNetFileVersion AND (DotNetFileVersion &gt;= v10.0) AND (DotNetProductID &gt;= v10.0)"
				InstallCondition="VersionNT64 AND NOT ((DotNetVersion &gt;= v10.0) OR (DotNetFileVersion &gt;= v10.0) OR (DotNetProductID &gt;= v10.0))" InstallArguments="/install /norestart /quiet">
				<ExePackagePayload
					CertificatePublicKey="C6FE1068276FF20DECBBF3C243C8852471E51B99"
					CertificateThumbprint="860AB2B78578D8EF61F692CF81AE4B1198CCBC94"
					Description="Microsoft Windows Desktop Runtime 10.0.0 (x64)"
					ProductName="Microsoft Windows Desktop Runtime 10.0.0 (x64)"
					Size="60222728"
					Version="10.0.0.50000"
					Name="windowsdesktop-runtime-10.0.0-win-x64.exe"
					DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.0/windowsdesktop-runtime-10.0.0-win-x64.exe" />
			</ExePackage>

			<RollbackBoundary Vital="yes" />

			<!-- Main Package -->
			<MsiPackage Id="MainPackage"
						SourceFile="..\SetupProjectUI3\bin\x64\Release\ja-JP\$(var.ProductName)UI3_x64.msi"
						Description="$(var.ProductName)UI3 by $(var.Manufacturer)"
						DisplayName="$(var.ProductName)UI3 Version $(var.Version)"
						Permanent="no"
						Cache="keep"
						ForcePerMachine="yes"
						EnableFeatureSelection="no"
						Visible="yes"
						Compressed="yes"
						Vital="yes"
						bal:DisplayInternalUICondition="no">
				<MsiProperty Name="BUNDLE" Value="1" />
				<MsiProperty Name="BUNDLE_ID" Value="[WixBundleProviderKey]" />
				<MsiProperty Name="BUNDLE_VERSION" Value="[WixBundleVersion]" />
				<MsiProperty Name="ADDDESKTOPSHORTCUT" Value="[AddDesktopShortcut]" />
				<MsiProperty Name="REGISTERSTARTMENU" Value="[RegisterStartMenu]" />
				<MsiProperty Name="STARTAPPLICATION" Value="[StartApplication]" />
				<MsiProperty Name="REMOVEAPPREGISTRY" Value="[RemoveAppRegstry]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>

<!-- EOF -->
