<?xml version="1.0" encoding="UTF-8"?>

<!-- Bundle.wxs for FlushMouseUI3 Copyright (C) 2023 JeffyTS -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include ..\..\SetupProject\version.wxi ?>
	<?define LicenseSrc = "..\..\SetupProject\License.rtf" ?>
	<?define LogoSrc = "..\..\OSDN Wiki\FlushMouse.png" ?>
	<?define IconSrcFile = "..\..\FlushMouseLIB\FlushMouse.ico" ?>
	<?define ProductNameUI3 = "$(var.ProductName)UI3" ?>
	<?define LocalizationSrc = "customtheme.wxl" ?>
	<?define CustomThemeSrc = "customtheme.xml" ?>
	
	<Bundle Name="$(var.ProductNameUI3)"
			Version="$(var.Version)"
			Manufacturer="$(var.Manufacturer)"
			Copyright="Copyright (c) $(var.Manufacturer)"
			IconSourceFile="$(var.IconSrcFile)"
			AboutUrl="$(var.AboutUrlSrc)"
			UpgradeCode="{2590C08A-B975-41F3-ACA2-1DA69A22DA1D}"
			DisableModify="yes"
			DisableRemove="yes">
		
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile="$(var.LicenseSrc)"
				ShowVersion="yes"
				LogoFile="$(var.LogoSrc)"
				LogoSideFile="$(var.LogoSrc)"
				SuppressOptionsUI="yes"
				SuppressRepair="yes"
				ThemeFile="$(var.CustomThemeSrc)"
				LocalizationFile="$(var.LocalizationSrc)"
				/>
		</BootstrapperApplicationRef>
		
		<OptionalUpdateRegistration Name="$(var.ProductName)"/>
		<Variable Name="SearchProductVersion" bal:Overridable="yes" Type="string" Value="" />
		<Variable Name="SearchBundleVersion" bal:Overridable="yes" Type="string" Value=""/>
		<Variable Name="SearchBundleID" bal:Overridable="yes" Type="string" Value=""/>
		<Variable Name="SearchPackageName" bal:Overridable="yes" Type="string" Value=""/>
		<util:RegistrySearch
			Id="SearchForProductVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="ProductVersion"
			Variable="SearchProductVersion" />
		<util:RegistrySearch
			Id="SearchForBundleVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleVersion"
			Variable="SearchBundleVersion" />
		<util:RegistrySearch
			Id="SearchForBundleID"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="BundleID"
			Variable="SearchBundleID" />
		<util:RegistrySearch
			Id="SearchForPackageName"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\WOW6432Node\$(var.Manufacturer)\Updates\$(var.ProductName)"
			Value="PackageName"
			Variable="SearchPackageName" />

		<bal:Condition Message ="別のバージョンの $(var.ProductNameUI3) が既にインストールされているため、このバージョンのインストールを続行できません。既にインストールされているバージョンを削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[NOT ((NOT SearchBundleVersion) AND SearchProductVersion)]]>
		</bal:Condition>
		<bal:Condition Message ="新しいバージョンの $(var.ProductNameUI3) が既にインストールされているため、このバージョンのインストールを続行できません。既にインストールされているバージョンを削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[NOT (SearchBundleVersion AND SearchProductVersion AND (SearchProductVersion > WixBundleFileVersion))]]>
		</bal:Condition>
		<bal:Condition Message ="[SearchPackageName] が既にインストールされているため、$(var.ProductNameUI3) のインストールを続行できません。既にインストールされている [SearchPackageName] を削除するには、設定の「アプリ」から「インストールされているアプリ」、またはコントロールパネルの「プログラムと機能」を使用します。">
			<![CDATA[((NOT SearchPackageName) AND (NOT SearchBundleVersion)) OR (NOT (SearchPackageName <> "$(var.ProductNameUI3)"))]]>
		</bal:Condition>

		<util:RegistrySearch
			Id="SearchForDotNetVersion"
			ExpandEnvironmentVariables="yes"
			Win64="yes"
			Root="HKLM"
			Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
			Value="Version"
			Variable="DotNetVersion" />

		<Variable Name="AddDesktopShortcut" bal:Overridable="yes" Value="1" />
		<Variable Name="AddDesktopShortcutVariable" bal:Overridable="yes" Value="[AddDesktopShortcut]" />
		<Variable Name="RegisterStartMenu" bal:Overridable="yes" Value="1" />
		<Variable Name="RegisterStartMenuVariable" bal:Overridable="yes" Value="[RegisterStartMenu]" />
		<Variable Name="StartApplication" bal:Overridable="yes" Value="1" />
		<Variable Name="StartApplicationVariable" bal:Overridable="yes" Value="[StartApplication]" />
		<Variable Name="RemoveAppRegstry" bal:Overridable="yes" Value="0" />
		<Variable Name="RemoveAppRegstryVariable" bal:Overridable="yes" Value="[RemoveAppRegstry]" />
		
		<Chain>
			<ExePackage Id="WindowsDesktop_Runtime"
				Name="windowsdesktop-runtime-10.0.0-win-x64.exe"
				DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.0/windowsdesktop-runtime-10.0.0-win-x64.exe"
				Permanent="yes"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Vital="yes"
				InstallCommand="/install /norestart /quiet"
				DetectCondition="DotNetVersion AND (DotNetVersion >= v10.0)"
				InstallCondition="VersionNT64 AND NOT (DotNetVersion >= v10.0)" >
				<RemotePayload
					CertificatePublicKey="C6FE1068276FF20DECBBF3C243C8852471E51B99"
					CertificateThumbprint="860AB2B78578D8EF61F692CF81AE4B1198CCBC94"
					Description="Microsoft Windows Desktop Runtime 10.0.0 (x64)"
					Hash="FFED598B05E9697AE3A0117DA62F985D502B9366"
					ProductName="Microsoft Windows Desktop Runtime 10.0.0 (x64)"
					Size="60222728"
					Version="10.0.0.50000"
				/>
			</ExePackage>

			<RollbackBoundary />
			
			<MsiPackage Id="MainPackage"
						SourceFile="..\SetupProjectUI3\bin\x64\Release\ja-JP\$(var.ProductNameUI3)_x64.msi"
						Description="$(var.ProductNameUI3) by $(var.Manufacturer)"
						DisplayName="$(var.ProductNameUI3) $(var.Version)"
						Permanent="no"
						Cache="yes"
						EnableFeatureSelection="no"
						DisplayInternalUI="no"
						Visible="yes"
						Compressed="yes"
						Vital="no">
				<MsiProperty Name='BUNDLE' Value='1'/>
				<MsiProperty Name='BUNDLE_ID' Value='[WixBundleProviderKey]'/>
				<MsiProperty Name='BUNDLE_VERSION' Value='[WixBundleVersion]'/>
				<MsiProperty Name="ADDDESKTOPSHORTCUT" Value="[AddDesktopShortcutVariable]" />
				<MsiProperty Name="REGISTERSTARTMENU" Value="[RegisterStartMenuVariable]" />
				<MsiProperty Name="STARTAPPLICATION" Value="[StartApplicationVariable]" />
				<MsiProperty Name="REMOVEAPPREGISTRY" Value="[RemoveAppRegstryVariable]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>

